* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width:100vw;
    height:100vh;
background-color: #3d0b0b;
background-image: linear-gradient(225deg, #3d0b0b 0%, #1e122b 50%, #2B0404 100%);

}

.star {
    position:fixed;
    top:0;
    left:0;
    width: 1px;
    height: 1px;
    background-color: white;
    position: fixed;
    animation: blink 10s infinite ease-in-out;
}

#star, #clickstar{
    width: 1px;
    height: 1px;
    background-color: white;
    position: fixed;
    animation: 3s fall 3s infinite;
}

#clickstar {
        animation: fall 3s;
}

@keyframes blink {
    0% {
        width: 1.5px;
        height: 1.5px;

    }
    50% {
        width: 1px;
        height: 1px;
    }
    70% {
        width: 1px;
        height: 1px;
    }
}

@keyframes fall {
    0% {
        width: 1.5px;
        height: 1.5px;
        opacity: 100%;

    }
    30%{
            width: 2px;
        height: 2px;
        color:yellow
    }


    70% {
        color:white;
        opacity: 0%;
                width: 1px;
        height: 1px;

    }
    100% {
        top: 100%;
        left: 100%;
        opacity: 0%;
  
    }
}
