/*
See index.html for instructions.
*/
.main {
    font-family: Tahoma;
    font-size: 16px;
}

.verdana {
    font-family: Verdana;
    color: orange;
}

.impact {
    font-family: Impact;
    color: red;
}

.pink {
    font-family: Georgia;
    color: pink;
}

li {
    margin-top: 10px;
    margin-bottom: 10px;
}